
/*
	Copyright (C) 2013 Hoefler & Frere-Jones 
	
	This software is the property of Hoefler & Frere-Jones (H&FJ).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&FJ. If no such agreement exists, you may not
	access or use this software for any purpose.
	
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein.  You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&FJ. 

	For more information, please visit H&FJ at http://typography.com.
	147575-63530-20130902
*/

@font-face { font-family:"Archer SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/9AD60E73F3BA8A8A2.eot'); src: url('http://justmytype.co/hfj/fonts/62196/9AD60E73F3BA8A8A2.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:600; } @font-face { font-family:"Archer SSm 6r"; src: url('http://justmytype.co/hfj/fonts/62196/9AD60E73F3BA8A8A2.eot'); src: url('http://justmytype.co/hfj/fonts/62196/9AD60E73F3BA8A8A2.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:600; } @font-face { font-family:"Archer SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/17543C9C016A7D996.eot'); src: url('http://justmytype.co/hfj/fonts/62196/17543C9C016A7D996.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:600; } @font-face { font-family:"Archer SSm 6i"; src: url('http://justmytype.co/hfj/fonts/62196/17543C9C016A7D996.eot'); src: url('http://justmytype.co/hfj/fonts/62196/17543C9C016A7D996.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:600; } @font-face { font-family:"Archer SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/5B1748A214A323EE5.eot'); src: url('http://justmytype.co/hfj/fonts/62196/5B1748A214A323EE5.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Archer SSm 8r"; src: url('http://justmytype.co/hfj/fonts/62196/5B1748A214A323EE5.eot'); src: url('http://justmytype.co/hfj/fonts/62196/5B1748A214A323EE5.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:800; } @font-face { font-family:"Archer SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/DF3BAA38D24114B56.eot'); src: url('http://justmytype.co/hfj/fonts/62196/DF3BAA38D24114B56.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Archer SSm 8i"; src: url('http://justmytype.co/hfj/fonts/62196/DF3BAA38D24114B56.eot'); src: url('http://justmytype.co/hfj/fonts/62196/DF3BAA38D24114B56.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:800; } @font-face { font-family:"Chronicle Display A"; src: url('http://justmytype.co/hfj/fonts/62196/D8B5D8E3EFA257DB1.eot'); src: url('http://justmytype.co/hfj/fonts/62196/D8B5D8E3EFA257DB1.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Chronicle Display 4r"; src: url('http://justmytype.co/hfj/fonts/62196/D8B5D8E3EFA257DB1.eot'); src: url('http://justmytype.co/hfj/fonts/62196/D8B5D8E3EFA257DB1.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Gotham Cond A"; src: url('http://justmytype.co/hfj/fonts/62196/5054838043248539C.eot'); src: url('http://justmytype.co/hfj/fonts/62196/5054838043248539C.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:600; } @font-face { font-family:"Gotham Cond 6r"; src: url('http://justmytype.co/hfj/fonts/62196/5054838043248539C.eot'); src: url('http://justmytype.co/hfj/fonts/62196/5054838043248539C.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:600; } @font-face { font-family:"Hoefler Text A"; src: url('http://justmytype.co/hfj/fonts/62196/B768539B5776F9325.eot'); src: url('http://justmytype.co/hfj/fonts/62196/B768539B5776F9325.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Hoefler Text 4r"; src: url('http://justmytype.co/hfj/fonts/62196/B768539B5776F9325.eot'); src: url('http://justmytype.co/hfj/fonts/62196/B768539B5776F9325.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Hoefler Text A"; src: url('http://justmytype.co/hfj/fonts/62196/8B3A0A1144BEBA3E0.eot'); src: url('http://justmytype.co/hfj/fonts/62196/8B3A0A1144BEBA3E0.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Hoefler Text 4i"; src: url('http://justmytype.co/hfj/fonts/62196/8B3A0A1144BEBA3E0.eot'); src: url('http://justmytype.co/hfj/fonts/62196/8B3A0A1144BEBA3E0.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Hoefler Text A"; src: url('http://justmytype.co/hfj/fonts/62196/81666E65F4C683C33.eot'); src: url('http://justmytype.co/hfj/fonts/62196/81666E65F4C683C33.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Hoefler Text 7r"; src: url('http://justmytype.co/hfj/fonts/62196/81666E65F4C683C33.eot'); src: url('http://justmytype.co/hfj/fonts/62196/81666E65F4C683C33.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Hoefler Text A"; src: url('http://justmytype.co/hfj/fonts/62196/653E070DFF15C7223.eot'); src: url('http://justmytype.co/hfj/fonts/62196/653E070DFF15C7223.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Hoefler Text 7i"; src: url('http://justmytype.co/hfj/fonts/62196/653E070DFF15C7223.eot'); src: url('http://justmytype.co/hfj/fonts/62196/653E070DFF15C7223.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Requiem Display A"; src: url('http://justmytype.co/hfj/fonts/62196/1130A5539494C1A2D.eot'); src: url('http://justmytype.co/hfj/fonts/62196/1130A5539494C1A2D.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Requiem Display 4i"; src: url('http://justmytype.co/hfj/fonts/62196/1130A5539494C1A2D.eot'); src: url('http://justmytype.co/hfj/fonts/62196/1130A5539494C1A2D.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/3878A653D3BEBB623.eot'); src: url('http://justmytype.co/hfj/fonts/62196/3878A653D3BEBB623.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Whitney SSm 5r"; src: url('http://justmytype.co/hfj/fonts/62196/3878A653D3BEBB623.eot'); src: url('http://justmytype.co/hfj/fonts/62196/3878A653D3BEBB623.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:500; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/EF7A3A780ECC4CB04.eot'); src: url('http://justmytype.co/hfj/fonts/62196/EF7A3A780ECC4CB04.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Whitney SSm 5i"; src: url('http://justmytype.co/hfj/fonts/62196/EF7A3A780ECC4CB04.eot'); src: url('http://justmytype.co/hfj/fonts/62196/EF7A3A780ECC4CB04.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:500; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/D811DD8A1F2759BFA.eot'); src: url('http://justmytype.co/hfj/fonts/62196/D811DD8A1F2759BFA.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Whitney SSm 7r"; src: url('http://justmytype.co/hfj/fonts/62196/D811DD8A1F2759BFA.eot'); src: url('http://justmytype.co/hfj/fonts/62196/D811DD8A1F2759BFA.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/54C8F65FFBA2F3EBE.eot'); src: url('http://justmytype.co/hfj/fonts/62196/54C8F65FFBA2F3EBE.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Whitney SSm 7i"; src: url('http://justmytype.co/hfj/fonts/62196/54C8F65FFBA2F3EBE.eot'); src: url('http://justmytype.co/hfj/fonts/62196/54C8F65FFBA2F3EBE.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Knockout 92 A"; src: url('http://justmytype.co/hfj/fonts/62196/0F713444F0D65D082.eot'); src: url('http://justmytype.co/hfj/fonts/62196/0F713444F0D65D082.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Knockout 92 4r"; src: url('http://justmytype.co/hfj/fonts/62196/0F713444F0D65D082.eot'); src: url('http://justmytype.co/hfj/fonts/62196/0F713444F0D65D082.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Mercury SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/328F76AC9CA55CC9B.eot'); src: url('http://justmytype.co/hfj/fonts/62196/328F76AC9CA55CC9B.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Mercury SSm 4r"; src: url('http://justmytype.co/hfj/fonts/62196/328F76AC9CA55CC9B.eot'); src: url('http://justmytype.co/hfj/fonts/62196/328F76AC9CA55CC9B.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Mercury SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/933284446F2FA9EB7.eot'); src: url('http://justmytype.co/hfj/fonts/62196/933284446F2FA9EB7.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Mercury SSm 4i"; src: url('http://justmytype.co/hfj/fonts/62196/933284446F2FA9EB7.eot'); src: url('http://justmytype.co/hfj/fonts/62196/933284446F2FA9EB7.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Mercury SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/8E7C9ADA908DCE048.eot'); src: url('http://justmytype.co/hfj/fonts/62196/8E7C9ADA908DCE048.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Mercury SSm 7r"; src: url('http://justmytype.co/hfj/fonts/62196/8E7C9ADA908DCE048.eot'); src: url('http://justmytype.co/hfj/fonts/62196/8E7C9ADA908DCE048.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Mercury SSm A"; src: url('http://justmytype.co/hfj/fonts/62196/2BE86EA96F17E4884.eot'); src: url('http://justmytype.co/hfj/fonts/62196/2BE86EA96F17E4884.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Mercury SSm 7i"; src: url('http://justmytype.co/hfj/fonts/62196/2BE86EA96F17E4884.eot'); src: url('http://justmytype.co/hfj/fonts/62196/2BE86EA96F17E4884.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } 