
/*
	Copyright (C) 2013 Hoefler & Frere-Jones 
	
	This software is the property of Hoefler & Frere-Jones (H&FJ).
	Your right to access and use this software is subject to the
	applicable License Agreement, or Terms of Service, that exists
	between you and H&FJ. If no such agreement exists, you may not
	access or use this software for any purpose.
	
	This software may only be hosted at the locations specified in
	the applicable License Agreement or Terms of Service, and only
	for the purposes expressly set forth therein.  You may not copy,
	modify, convert, create derivative works from or distribute this
	software in any way, or make it accessible to any third party,
	without first obtaining the written permission of H&FJ. 

	For more information, please visit H&FJ at http://typography.com.
	147575-63485-20130820
*/

@font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/fonts/55725/D6FE4DC6E23876DD4.eot'); src: url('http://justmytype.co/fonts/55725/D6FE4DC6E23876DD4.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Whitney SSm 3r"; src: url('http://justmytype.co/fonts/55725/D6FE4DC6E23876DD4.eot'); src: url('http://justmytype.co/fonts/55725/D6FE4DC6E23876DD4.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/fonts/55725/1A3DE1F9C574AE6FB.eot'); src: url('http://justmytype.co/fonts/55725/1A3DE1F9C574AE6FB.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Whitney SSm 4r"; src: url('http://justmytype.co/fonts/55725/1A3DE1F9C574AE6FB.eot'); src: url('http://justmytype.co/fonts/55725/1A3DE1F9C574AE6FB.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/fonts/55725/F10B545C58FCA84DF.eot'); src: url('http://justmytype.co/fonts/55725/F10B545C58FCA84DF.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Whitney SSm 4i"; src: url('http://justmytype.co/fonts/55725/F10B545C58FCA84DF.eot'); src: url('http://justmytype.co/fonts/55725/F10B545C58FCA84DF.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/fonts/55725/2E0A6E5A2D90CE69E.eot'); src: url('http://justmytype.co/fonts/55725/2E0A6E5A2D90CE69E.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Whitney SSm 7r"; src: url('http://justmytype.co/fonts/55725/2E0A6E5A2D90CE69E.eot'); src: url('http://justmytype.co/fonts/55725/2E0A6E5A2D90CE69E.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Whitney SSm A"; src: url('http://justmytype.co/fonts/55725/15C75D3E7510A8683.eot'); src: url('http://justmytype.co/fonts/55725/15C75D3E7510A8683.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Whitney SSm 7i"; src: url('http://justmytype.co/fonts/55725/15C75D3E7510A8683.eot'); src: url('http://justmytype.co/fonts/55725/15C75D3E7510A8683.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Whitney SSm SC A"; src: url('http://justmytype.co/fonts/55725/CA4DF2749E029F3CF.eot'); src: url('http://justmytype.co/fonts/55725/CA4DF2749E029F3CF.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Whitney SSm SC 3r"; src: url('http://justmytype.co/fonts/55725/CA4DF2749E029F3CF.eot'); src: url('http://justmytype.co/fonts/55725/CA4DF2749E029F3CF.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:300; } @font-face { font-family:"Whitney SSm SC A"; src: url('http://justmytype.co/fonts/55725/5445B39DD13C1B906.eot'); src: url('http://justmytype.co/fonts/55725/5445B39DD13C1B906.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Whitney SSm SC 4r"; src: url('http://justmytype.co/fonts/55725/5445B39DD13C1B906.eot'); src: url('http://justmytype.co/fonts/55725/5445B39DD13C1B906.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Whitney SSm SC A"; src: url('http://justmytype.co/fonts/55725/8E916C3C5D23BE42A.eot'); src: url('http://justmytype.co/fonts/55725/8E916C3C5D23BE42A.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Whitney SSm SC 4i"; src: url('http://justmytype.co/fonts/55725/8E916C3C5D23BE42A.eot'); src: url('http://justmytype.co/fonts/55725/8E916C3C5D23BE42A.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Whitney SSm SC A"; src: url('http://justmytype.co/fonts/55725/0CC9DA2EDD17B936F.eot'); src: url('http://justmytype.co/fonts/55725/0CC9DA2EDD17B936F.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Whitney SSm SC 7r"; src: url('http://justmytype.co/fonts/55725/0CC9DA2EDD17B936F.eot'); src: url('http://justmytype.co/fonts/55725/0CC9DA2EDD17B936F.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:700; } @font-face { font-family:"Whitney SSm SC A"; src: url('http://justmytype.co/fonts/55725/033BD823719C2F2E6.eot'); src: url('http://justmytype.co/fonts/55725/033BD823719C2F2E6.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Whitney SSm SC 7i"; src: url('http://justmytype.co/fonts/55725/033BD823719C2F2E6.eot'); src: url('http://justmytype.co/fonts/55725/033BD823719C2F2E6.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:700; } @font-face { font-family:"Hoefler Text A"; src: url('http://justmytype.co/fonts/55725/D262F1993281D8088.eot'); src: url('http://justmytype.co/fonts/55725/D262F1993281D8088.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Hoefler Text 4r"; src: url('http://justmytype.co/fonts/55725/D262F1993281D8088.eot'); src: url('http://justmytype.co/fonts/55725/D262F1993281D8088.eot?#hfj') format('embedded-opentype'); font-style:normal; font-weight:400; } @font-face { font-family:"Requiem Display A"; src: url('http://justmytype.co/fonts/55725/654C97F1AD42ED188.eot'); src: url('http://justmytype.co/fonts/55725/654C97F1AD42ED188.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } @font-face { font-family:"Requiem Display 4i"; src: url('http://justmytype.co/fonts/55725/654C97F1AD42ED188.eot'); src: url('http://justmytype.co/fonts/55725/654C97F1AD42ED188.eot?#hfj') format('embedded-opentype'); font-style:italic; font-weight:400; } 