/*-----------------------------------*\

	$RESET

	Blanket reset. For something less
	volatile, I’d recommend Eric
	Meyer’s reset.

\*-----------------------------------*/

/* Sloppy reset. Applied to everything. */
*, :before, :after {
	margin: 0;
	padding: 0;
	/* Layout for dummies */
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	position: relative;
}

/* Blanket ban on oversized images. */
img {
	max-width: 100%;
}

/*-----------------------------------*\

	$SHARED

	Reserved for html-level shared
	properties and simple helpers.

\*-----------------------------------*/

/* Set up some vertical rhythm and block-level element helpers */
p, .p, blockquote, table, form, ul, ol, .img,
h1, .alpha, h2, .beta, .mega, .ultra {
	display: block;
	margin-bottom: 1.5rem;
}

/* Remove this for hanging bullets */
ul, ol {
	padding-left: 1.3em;
}

	/* Restore some normality to our nested lists */
	li > ul, li > ol {
		margin-bottom: 0;
	}

/*-----------------------------------*\

	$TYPE

	Low-level type things. Headings,
	links, blockquotes, etc.

\*-----------------------------------*/

h1, .alpha {
	font-size: 2.381rem;
	line-height: 1.2;
}

h2, .beta {
	font-size: 2rem;
	line-height: 1.5;
}

h3 {
	font-size: 1rem;
}

a {
	color: #c87051;
	text-decoration: none;
}

p > a {
	border-bottom: 1px dashed;
}

	a:hover {
		border-bottom-style: solid;
	}

	p > a[href^="http://"]:after {
		content: '\27B6';
	}

/*-----------------------------------*\

	$OBJECTS

	Abstracted things and common
	patterns go here. Not to be
	confused with helpers.

\*-----------------------------------*/

.wrap {
	max-width: 34rem;
	margin: 0 auto;
}

.standalone {
	margin-bottom: 0;
}

.nav, .nav ul {
	padding-left: 0;
	list-style: none;
}

	.nav li, .nav a {
		display: inline-block;
	}

.island {
	padding: 2.858rem;
}

.isle {
	padding: 1.429rem;
}

.spit {
	padding: .7145rem;
}

/*-----------------------------------*\

	$MAIN

	Anything that can’t be abstracted
	or assigned to another section.
	Low-level stuff.

\*-----------------------------------*/

::selection {
	background-color: #dddedf;
	text-shadow: none;
}

::-moz-selection {
	background-color: #dddedf;
	text-shadow: none;
}

html {
	font: 131.25%/1.429 "Whitney SSm A", "Whitney SSm B", sans-serif;
	color: #38373a;
	background-color: #f9fbf9;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

	@media (max-width: 600px) {
		html {
			font-size: 105%;
		}
	}

/*-----------------------------------*\
	$HEADER
\*-----------------------------------*/

.site--header {

}

	.site--title {

	}

	.site--nav {

	}

/*-----------------------------------*\
	$SETS
\*-----------------------------------*/

	.set--info {
		font-family: "Whitney SSm A", "Whitney SSm B";
		color: #333;
		font-size: .857rem;
		background-color: #fff;
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
		border-radius: .25rem;
	}

/* Requiem Display & Hoelfer Text */
.set--requiem-hoefler {
	font-family: "Hoefler Text A", "Hoefler Text B", serif;
	background-color: #eae2ca;
	color: #5f5c5a;
}

	.set--requiem-hoefler h2 {
		font-family: "Requiem Display A", "Requiem Display B", serif;
		font-style: italic;
		font-weight: 400;
	}

/* Gotham Condensed & Whitney */
.set--gotham-whitney {
	font-family: "Whitney SSm A", "Whitney SSm B", sans-serif;
	background-color: #4f5565;
	color: #a6a9b3;
}

	.set--gotham-whitney h2 {
		font-family: "Gotham Cond A", "Gotham Cond B", sans-serif;
		border-bottom: 5px solid;
		padding-bottom: .7145rem;
	}

/* Knockout & Archer */
.set--knockout-archer {
	font-family: "Archer SSm A", "Archer SSm B", serif;
	background-color: #4b3b4a;
	color: #dac184;
}

	.set--knockout-archer h2 {
		font-family: "Knockout 92 A", "Knockout 92 B", sans-serif;
	}

/* Chronicle & Mercury */
.set--chronicle-mercury {
	font-family: "Mercury SSm A", "Mercury SSm B", serif;
	background-color: #d3955a;
	color: #3a372a;
}

	.set--chronicle-mercury h2 {
		font-family: "Chronicle Display A", "Chronicle Display B", serif;
		font-weight: 400;
	}

/*-----------------------------------*\
	$FOOTER
\*-----------------------------------*/

.site--footer {
	font-size: .857rem;
	background-color: #69686b;
	color: #c9cbc9;
}

	.site--footer a {
		color: inherit;
	}